div.body {
    margin-top: 10px;
}

div.main {
    width: 80%;
    min-width: 0;
    flex-grow: 1;
    background-color: #ffffff;
    box-shadow: 0 3px 6px #ccc;
    border-radius: 5px;
}

.card3 {
    width: 95%;
    margin: 20px;
    border-bottom: solid 1px #cccccc;
    background-color: #fff;
}

.box3 {
    display: flex;
}

.image3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.title3 {
    font-size: 150%;
    margin: 10px;
    color: #444;
}

.content3 {
    padding: 10px;
    color: gray;
}


