div.profile img {
    vertical-align: middle;
    height: 240px;
    width:240px;
}

p.sub-data {
    font-size: 12px;
}

th.data p {
    font-size: 14px;
}

tr td img {
    height: 48px;
    width: 48px;
}

a {
    color: black !important;
}

.profile span {
    font-size: 1.2em;
}

.profile a {
    font-size: .8em;
    color: #6a737d;
}

