<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="form(articleForm, jsMarkdownText, method, url)">
    <div class="editor">
        <form id="article-form" th:method="${method}" th:action="@{${url}}" th:object="${articleForm}">
            <div class="editor-title">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                   class="col-sm-offset-2 text-danger"></p>
                <input type="text" class="form-control" maxlength="50" placeholder="タイトル" th:field="*{title}" th:value="*{title}" required>
            </div>

            <p th:if="${#fields.hasErrors('markdownText')}" th:errors="*{markdownText}"
               class="col-sm-offset-2 text-danger"></p>
            <div class="form-group text-area" id="editor">
                    <textarea :value="input" @input="update" class="form-control" th:field="*{markdownText}" required
                              maxlength="10000" @scroll="scroll" placeholder="プログラミング知識をMarkdownで書いて共有しよう">
                    </textarea>
                <div class="preview md-tx" v-html="compiledMarkdown" id="output"></div>
            </div>

            <div class="editor-footer">
                <div class="submit-button-section">
                    <button type="submit" class="btn submit-button post-button">[[${url == '/article' ? 'TeecHearに投稿する' : '更新する'}]]</button>
                </div>
            </div>
        </form>
    </div>
    　　　　
    <script type="text/javascript" th:inline="javascript">
        marked.setOptions({
            breaks : true,
            sanitize: true
        });

        /*<![CDATA[*/
        var defaultDate = /*[[ ${jsMarkdownText} ]]*/ "";
        /*]]>*/

        new Vue({
            el: '#editor',
            data: {
                input: defaultDate
            },
            computed: {
                compiledMarkdown: function () {
                    return marked(this.input, {sanitize: true})
                }
            },
            methods: {
                update: _.debounce(function (e) {
                    this.input = e.target.value
                    $('#output').scrollTop($('textarea').scrollTop())
                }, 300),

                scroll: function() {
                    $('#output').scrollTop($('textarea').scrollTop())
                }
            }
        })
    </script>
</div>
</body>
</html>