<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>記事を投稿する</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/article/new.css}">
</head>
<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="editor">
            <form id="newArticle" method="post" th:action="@{/article}" th:object="${articleForm}">
                <div class="editor-title">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                       class="col-sm-offset-2 text-danger"></p>
                    <input type="text" class="form-control" placeholder="タイトル" th:field="*{title}" required>
                </div>

                <div class="form-group text-area">
                    <p th:if="${#fields.hasErrors('markdownText')}" th:errors="*{markdownText}"
                       class="col-sm-offset-2 text-danger"></p>
                    <textarea class="form-control" th:field="*{markdownText}" required maxlength="10000"></textarea>
                </div>

                <div class="editor-footer">
                    <div class="submit-button-section">
                        <button type="submit" class="btn submit-button post-button">TeecHearに投稿</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>