<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>記事を投稿する</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/article/new.css}">
</head>
<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <form id="newArticle" method="post" th:action="@{/article}" th:object="${articleForm}">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="タイトル" th:field="*{title}">
            </div>

            <div class="form-group text-area">
                <textarea class="form-control" rows="30" th:field="*{markdownText}"></textarea>
            </div>

            <button type="submit" class="btn submit-button">投稿</button>

        </form>
    </div>
</div>
</body>
</html>