<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>記事詳細</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/article/show.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/markdown.css}">

    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="container main">
            <div class="main-contents">
                <div class="user-info">
                    <img class="user-icon" th:src="${article.iconImageUrl}"
                         style="height: 32px; width: 32px;">
                    <a th:href="@{'/user/' + ${article.userId}}"><h4 th:text="${article.userName}"></h4></a>
                    <p class="released-at" th:text="|${#dates.format(article.releasedAt, 'yyyy年MM月dd日')}に投稿|"></p>

                    <!--削除・編集ボタンの欄　自分の記事の場合のみ表示がされる-->
                    <div class="operation-section" th:if="${article.userId == currentUser.id}">
                        <a class="edit-link" th:href="@{'/article/' + ${article.id} + '/edit'}">
                            <span class="fas fa-pencil-alt"></span><span>編集する</span>
                        </a>
                        <form id="deleteArticleForm" th:method="delete" th:action="@{'/article/' + ${articleId}}">
                            <button type="submit" id="delete_article" class="fas fa-trash-alt"></button>
                        </form>
                    </div>
                </div>

                <div class="title">
                    <h1 th:text="${article.title}"></h1>
                    <form id="likeForm" method="post" th:action="@{'/article/' + ${articleId} + '/like'}"
                          th:if="${!userLiked && !isMyArticle}">
                        <button type="submit" class="btn btn-unsuccess fas fa-thumbs-up is-liked" th:text="| ${likeCount}|">
                        </button>
                    </form>

                    <form id="deleteLikeForm" th:method="delete" th:action="@{'/article/' + ${articleId} + '/unlike'}"
                          th:if="${userLiked}">
                        <button type="submit" class="btn btn-success fas fa-thumbs-up is-liked" th:text="| ${likeCount}|">
                        </button>
                    </form>
                </div>

                <div th:text="${article?.markdownText}" id="non_display_markdown_text"></div>
                <div id="markdown_text" class="md-section md-tx" v-html="compiledMarkdown"></div>

                <!--記事の投稿者により開設された講座の紹介欄-->
                <div id="lesson-section" th:if="${mostRecentLesson != null}">
                    <b>この記事の投稿者の講座</b>
                    <div class="main-contents">
                        <div class="lesson-img">
                            <a th:href="@{'/lesson/' + ${mostRecentLesson.id}}">
                                <img th:src="${mostRecentLesson.imageUrl}"/>
                            </a>
                        </div>

                        <div class="lesson-info">
                            <p th:text="|開催日: ${#dates.format(mostRecentLesson.eventDatetime, 'yyyy年MM月dd日 HH:MM')} 料金: ¥${mostRecentLesson.price}|"
                               class="datetime"></p>
                            <a th:href="@{'/lesson/' + ${mostRecentLesson.id}}">
                                <p th:text="${mostRecentLesson.title}" class="lesson-title"></p>
                            </a>
                        </div>
                    </div>
                    <div class="summary">
                        <b>サマリー</b>
                        <pre th:text="|${mostRecentLesson.description.length() > 200 ? mostRecentLesson.description.substring(0, 200) : mostRecentLesson.description} ...|"></pre>
                    </div>
                    <a th:href="@{'/user/' + ${article.userId}}">もっと見る</a>
                </div>
            </div>

            <div class="comment-list">
                <div class="comment" th:each="comment, index : ${commentList}">
                    <div class="comment-header">
                        <a th:id="|user-link-${index.index}|" class="user-info">
                            <img class="user-icon" th:src="${comment.iconImageUrl}"
                                 style="height: 32px; width: 32px;">
                            <b th:id="|user_name-${index.index}|"></b>
                        </a>
                    </div>

                    <div class="comment-body">
                        <div th:id="|markdown_comment-${index.index}|" class="md-section md-tx" v-html="compiledMarkdown"></div>
                    </div>
                </div>
            </div>

            <div class="comment-form">
                <a th:href="@{'/user/' + ${currentUser.id}}">
                    <img class="user-icon" th:src="${currentUser.iconImageUrl}"
                         style="height: 32px; width: 32px;">
                </a>
                <b>コメントを投稿する</b>
                <form id="commentForm" method="post" th:action="@{/comment/create}" th:object="${commentForm}">
                    <div class="form-group text-area">
                        <textarea class="form-control" rows="3" th:field="*{text}" maxlength="10000"
                                  required></textarea>
                    </div>

                    <input type="hidden" name="userId" th:value="${currentUserId}">
                    <input type="hidden" name="articleId" th:value="${article.id}">

                    <div class="submit-button">
                        <button type="submit" class="btn submit-button">投稿</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('#delete_article').click(function(e) {
                    if (window.confirm('削除してもよろしいですか？')) {
                        return true;
                    }
                    return false;
                });
            });

            marked.setOptions({
                breaks : true,
                sanitize: true
            });

            $(document).ready(function () {
                var plainText = document.getElementById("non_display_markdown_text").innerText
                new Vue({
                    el: '#markdown_text',
                    data: {
                        input: plainText
                    },
                    computed: {
                        compiledMarkdown: function () {
                            return marked(this.input, {sanitize: true})
                        }
                    },
                    methods: {
                        update: _.debounce(function (e) {
                            this.input = e.target.value
                        }, 300)
                    }
                })
                document.getElementById('markdown_text').innerHTML =
                    marked(plainText);
                $.getJSON(location.href + "/comments.json", function (commentList) {
                    for (var i = 0; i < commentList.length; i++) {
                        var comment = commentList[i];
                        document.getElementById('user_name-' + i).innerText = comment.accountName;
                        var target = document.getElementById('user-link-' + i);
                        target.href = "/user/" + comment.userId;
                        new Vue({
                            el: '#markdown_comment-' + i,
                            data: {
                                input: comment.markdownText
                            },
                            computed: {
                                compiledMarkdown: function () {
                                    return marked(this.input, {sanitize: true})
                                }
                            },
                            methods: {
                                update: _.debounce(function (e) {
                                    this.input = e.target.value
                                }, 300)
                            }
                        })
                    }
                });
            });
        </script>
    </div>
</div>
</body>
</html>