<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Userpage</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/user/show.css}">
</head>
<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="container main">
            <div class="row">
                <div class="col-md-3 profile">
                    <img src="http://diamond.jp/mwimgs/7/1/400/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg"
                         height="200"
                         width="200">
                    <h2 th:text="${user.accountName}"></h2>
                    <a th:if="${user.id == currentUserId}" th:href="@{'/user/' + ${currentUserId} + '/edit'}">プロフィールを編集する</a>
                </div>

                <div class="col-md-9">
                    <table class="table table-condensed">
                        <thead>
                        <tr class="row">
                            <th class="data text-center col-md-6">
                                <h3 th:text="${user.articleCount}"></h3>
                                <p>items</p>
                            </th>
                            <th class="data text-center col-md-6">
                                <h3 th:text="${contribution}"></h3>
                                <p>contribution</p>
                            </th>
                        </tr>


                        </thead>
                        <tbody th:remove="all-but-first" th:each="result : ${articleList}">
                        <tr class="row">
                            <td class="col-md-2"><img
                                    src="http://diamond.jp/mwimgs/7/1/400/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg"
                                    height="50"
                                    width="100"></td>
                            <td class="col-md-10">
                                <p th:text="|${#dates.format(result.releasedAt, 'yyyy年MM月dd日')}に投稿|"
                                   class="sub-data"></p>
                                <h3 th:text="${result.title}"></h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>