* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 250);
}

h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    margin: 5px;
    padding: 0px;
}

.ta {
    width:100%;
    height:100%;
    font-size: 14px;
}

.editor {
    padding: 10px;
    width: 50%;
    position: absolute;
    left: 0px;
    height:60%;
}

.preview {
    padding: 10px;
    right: 0px;
    width: 50%;
    position: absolute;
    height:60%;
}

div.text-area {
    bottom: 40px;
}


