div.main {
    background-color: #f6f6f6;
}

div.contents {
    width: 100%;
    background-color: #ffffff;
}

div#non_display_markdown_text {
    display: none;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/*div.user-info {*/
    /*overflow: hidden;*/
/*}*/

/*div.user-info.img {*/
    /*float: left;*/
/*}*/

div.user-info h4 {
    display: inline-block;
}

p.released-at {
    display: inline-block;
    color: #cccccc;
}