div.contents {
    background-color: #f6f6f6;
}

div.main {
    display: flex;
    flex-direction: column;
}

div.title {
    margin-bottom: 10px;
}

#likeForm {
    width: 300px;
    display: inline-block;
}

#deleteLikeForm {
    width: 300px;
    display: inline-block;
}

div.main-contents {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

div#non_display_markdown_text {
    display: none;
}

div#markdown_text {
    flex-grow: 1;
}

div.submit-button {
    display: flex;
    justify-content: flex-end;
}

div.submit-button button {
    background-color: #55c500;
    color: white;
}

div.submit-button a.close-button {
    background-color: #aaaaaa;
    color: white !important;
    margin-right: 10px;
}

div.user-info a {
    display: inline-block;
    color: #6a737d;
}

div.user-info div.operation-section {
    display: inline;
    float: right;
}

div.user-info div.operation-section a {
    display: inline;
}

div.user-info div.operation-section form {
    display: inline;
}

p.released-at {
    display: inline-block;
    color: #cccccc;
}

div.comment-list {
    display: flex;
    flex-direction: column;
}

div.comment {
    margin-top: 20px;
}

div.comment-list div.comment-body {
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.comment-list div.comment a {
    display: inline;
}

div.comment-list div.comment a.edit-link {
    float: right;
}

div.comment-form {
    margin-top: 10px;
}

button.btn-unsuccess {
    color: #28a745;
    background-color: #fff;
    border-color: #28a745;
}

button.btn-unsuccess:hover {
    background-color: #28a745;
    color: #fff;
}

i.like-button {
    font-size: 24px;
}

img {
    background-color: unset !important;
    width: 100%;
}

.comment-list a {
    color: #6a737d;
}

a.user-info {
    display: flex;
    flex-direction: row;
}

a.user-info img {
    align-items: center;
}

a.user-info b {
    padding-left: 5px;
    align-items: center;
}

#lesson-section {
    border-top: 1px solid #eaecef;
    border-bottom: 1px solid #eaecef;
    padding: 5px;
    margin-top: 10px;
}

#lesson-section .lesson-img img {
    height: 60px;
    width: 60px;
}

#lesson-section .main-contents {
    display: flex;
    flex-direction: row;
}

#lesson-section .main-contents .lesson-info {
    margin-left: 10px;
    vertical-align: center;
}

#lesson-section .main-contents .lesson-info p.lesson-title {
    font-size: 1.4rem;
    margin-bottom: 0 !important;
}

#lesson-section .main-contents .lesson-info p.datetime {
    font-size: .8em;
    margin-bottom: 0 !important;
}

#lesson-section .main-contents .lesson-info a {
    color: #1b1f23;
}

#likeForm button::before {
    display: inline-block;
}

#deleteLikeForm button::before {
    display: inline-block;
}

#lesson-section .summary pre {
    background-color: #ffffff;
    border: none;
    color: #6a737d;
}

a.edit-link span {
    color: #333333;
}

div.non-display {
    display: none;
}