<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>TOPページ</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/top/trend.css}">
</head>
<body>

<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="container body">
            <div class="main">
                <div class="item-list">
                    <div class="item-header">
                        <b>トレンド</b>最近人気の記事を毎日5時/17時に更新
                    </div>
                    <div class="item-main" th:each="result : ${articleList}">
                        <a th:href="@{'/article/' + ${result.id}}">
                            <div class="panel panel-default">
                                <div class="card3">
                                    <div class="box3">
                                        <img src="http://diamond.jp/mwimgs/7/1/400/img_71c53c1d81500a1cf73a4f543e72413f27838.jpg"
                                             class="image3">
                                        <div>
                                            <p class="title3" th:text="${result.title}"></p>
                                            <div class="article-info">
                                                <p class="content3"
                                                   th:text="|by ${result.userName}|">
                                                </p>
                                                <p class="fa fa-thumbs-up"></p>
                                                <p class="like-count" th:text="${result.likeCount}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>